<div class="container">
    <div class="row align-items-center">
        <div class="col lg-4"></div>
        <div class="col lg-3">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title glow">The Counter</h5>
                    <h6 class="card-subtitle text-center">Enter Your Order!</h6>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="orderForm" placeholder="Your Dream Burger"
                            aria-label="Your dream burger" aria-describedby="Submit Button">
                        <button class="btn btn-outline-warning" type="button" id="burgerBtn">Stack it up!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col lg-4"></div>
    </div>
    <div class="row align-items-center">
        <div class="col lg-5">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title glow">Burgers On Order</h5>
                    <h6 class="card-subtitle text-center">Hot and fresh!</h6>
                    <br>
                    <br>
                    <Ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        {{> burgerblock}}
                        {{/unless}}
                        {{/each}}
                    </Ul>
                </div>
            </div>
        </div>
        <div class="col lg-5 offset-lg-1">
            <div class="card border-0">
                <div class="card-body">
                    <h5 class="card-title glow">Devoured</h5>
                    <h6 class="card-subtitle text-center">Hoo boy, these were good eatin'</h6>
                    <br>
                    <br>
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        {{> burgerblock}}
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>